[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==4.1"
djangorestframework = "*"
psycopg2-binary = "*"
pillow = "*"
drf-yasg = "*"
pytest = "*"
pytest-django = "*"
pre-commit = "*"
django-oauth-toolkit = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
ipython = "*"
setuptools = "*"
awscli = "*"
awsebcli = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
